<%- include('header.ejs') %>

    <%- include('sidebar.ejs') %>
        <section>
            <div> 
                <h1>Billetera</h1>
    <table border="1">
        <tr>
            <td><strong>Nombre</strong></td>
            <td><strong>Apellido</strong></td>
            <td><strong>Numero</strong></td>
            <td><strong>Fecha</strong></td>
        </tr>
    <% for(var i=0; i<usuarioBitg3.length; i++){ %>
        <tr>
            <td><%= usuarioBitg3[i].nombreUsuario %></td>
            <td><%= usuarioBitg3[i].apellido %></td>
            <td><%= usuarioBitg3[i].telefono %></td>
            <td><%= usuarioBitg3[i].fechaNacimiento %></td>
            <td>
                <a href="/resumenDeposito/<%= usuarioBitg3[i]._id%>">Resumen</a> - 
                <a href="/deposito/<%= usuarioBitg3[i]._id %>">Depositar</a> - 
                <a href="/modificar/<%= usuarioBitg3[i]._id %>">Cambiar</a> - 
                <a href="/eliminar/<%= usuarioBitg3[i]._id %>">Retirar</a>
            </td>
        </tr>
    <% } %>
    </table>
   
</div> 
        </section>
        <%- include('footer.ejs') %>