<%- include('header.ejs') %> <%- include('sidebar.ejs') %>
<section>
    <% if(nuevo == true){ %>

<h3>Detalles Del Depósito</h3>

<form action="/nuevodeposito" method="post">
    <label>Medio De Pago</label>
    <select name="banco">
        <option value="1001">Bancolombia</option>
        <option value="2002">Davivienda</option>
        <option value="3003">BBVA</option>
    </select>
    <br>
    <input type="hidden" name="usuarioId" value="<%= usuarioId %>">
    <label>Monto A Depósitar</label>
    <input type="number" placeholder="Ej. 1'000.000$" name="monto">
    <br>
    <button type="submit">Guardar</button>

</form>

<% }else{ %>
<h3>Modificar Reserva</h3>

<form action="/modificar" method="post">
    <input type="hidden" name="id" value="<%= res._id %>">
    <label>Cliente</label>
    <select name="banco">
        <option <%= (res.banco == 1001)? "selected":"" %> value="1001">Bancolombia</option>
        <option <%= (res.banco == 2002)? "selected":"" %> value="2002">Davivienda</option>
        <option <%= (res.banco == 3003)? "selected":"" %>  value="3003">BBVA</option>
    </select>
    <br>
    <label>Auto</label>

    <input type="hidden" name="usuarioId" value="<%= usuarioId %>">
    <label>Monto A Depósitar</label>
    <input type="number" placeholder="Ej. 1'000.000$" name="monto">
    <br>

    <button type="submit">Guardar</button>
<div>
    <ul>
      <li><strong>Monto: </strong><%= res.monto %></li>
      <li><strong>Banco: </strong><%= res.banco %></li>
    </ul>
  </div>
</form>

<% } %>
</section>
<%- include('footer.ejs') %>
