<%- include('header.ejs') %> <%- include('sidebar.ejs') %>
<section>
  <div>
    <ul>
      <li><strong>Saldo Actual: </strong><%= res.monto %></li>
      <li><strong>Consignado por: </strong><%= res.banco %></li>
    </ul>
  </div>
</section>
<%- include('footer.ejs') %>
